Minecraft Origin Server/logs
Minecraft Origin Server/crash-reports
Minecraft Origin Server/world
Minecraft Origin Server/.mixin.out

Minecraft Origin Server/config/sponge

Minecraft Origin Server/banned-ips.json
Minecraft Origin Server/banned-players.json
Minecraft Origin Server/ops.json
Minecraft Origin Server/whitelist.json
Minecraft Origin Server/usernamecache.json
Minecraft Origin Server/usercache.json
Minecraft Origin Server/config/forgeChunkLoading.cfg
Minecraft Origin Server/nucleus/
Minecraft Origin Server/config/nucleus/rules.txt
Minecraft Origin Server/config/nucleus/info/links.txt
Minecraft Origin Server/config/nucleus/info/info.txt
Minecraft Origin Server/config/nucleus/info/colors.txt
Minecraft Origin Server/config/nucleus/motd.txt
Minecraft Origin Server/config/nucleus/*.tmp
Minecraft Origin Server/luckperms/lib/
Minecraft Origin Server/luckperms/json-storage/actions.txt
Minecraft Origin Server/luckperms/json-storage/uuidcache.txt
Minecraft Origin Server/luckperms/json-storage/users/
Minecraft Origin Server/luckperms/json-storage/tracks/
Minecraft Origin Server/luckperms/contexts.json
Minecraft Origin Server/config/flexiblelogin/database.mv.db
Minecraft Origin Server/config/betterfps.json
Minecraft Origin Server/config/durabilityshow.cfg
Minecraft Origin Server/config/fpsreducer/
Minecraft Origin Server/config/NEI/
Minecraft Origin Server/config/JustEnoughCharacters.cfg
Minecraft Origin Server/config/serverGlobalConfig.properties
Minecraft Origin Server/config/smoothfont/
Minecraft Origin Server/mods/*CLIENT*.jar
Minecraft Origin Server/config/fastbench.cfg
Minecraft Origin Server/config/FlatBedrock/
Minecraft Origin Server/config/oreexcavation_groups.json
Minecraft Origin Server/config/oreexcavation_overrides.json
Minecraft Origin Server/crafttweaker.log
Minecraft Origin Server/mods/memory_repo/
Minecraft Origin Server/config/journeymap_server.cfg
Minecraft Origin Server/config/journeymap_ModInfo.cfg
Minecraft Origin Server/journeymap/*
Minecraft Origin Server/journeymap/server/5.7/*
!Minecraft Origin Server/journeymap/config/
!Minecraft Origin Server/journeymap/server/
!Minecraft Origin Server/journeymap/server/5.7/journeymap.server.global.config
